<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Hello Friends</h1>
      <p class="py-6">
        何の特徴もないアプリケーションへようこそ。このアプリを使ってたくさん投稿してください。
      </p>
      <% if user_signed_in? %>
        <%= link_to "はじめよう", posts_path, class: "btn btn-primary" %>
      <% else %>
        <%= link_to "はじめよう", new_user_registration_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>